body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #ece9e6, #ffffff);
}

.container {
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    overflow: hidden;
    transition: transform 0.3s;
}

.container:hover {
    transform: translateY(-5px);
}

.input-group {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; /* Центрируем элементы в контейнере */
}

label {
    display: block;
    margin-bottom: 5px;
    flex: 1 100%; /* Заставляем label занимать всю ширину */
    text-align: center; /* Центрируем текст */
    color: #333;
    font-weight: bold;
}

input, select {
    width: 60%;
    padding: 10px;
    margin-left: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s;
    text-align: center; /* Центрируем текст в input и select */
}

input:focus, select:focus {
    border-color: #007bff;
}

button {
    padding: 12px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

#tableContainer {
    margin-top: 25px;
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.05);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #007bff;
    color: white;
    font-weight: bold;
}

@media (max-width: 768px) {
    .container {
        padding: 20px;
    }

    .input-group {
        flex-direction: column;
        align-items: center; /* Центрируем элементы */
    }

    input, select {
        width: 100%;
        margin-left: 0;
        margin-top: 10px;
        text-align: center; /* Центрируем текст */
    }

    button {
        width: 100%;
        padding: 12px 0;
    }
}

@media (max-width: 480px) {
    th, td {
        padding: 8px;
    }
}
