body {
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f2f5;
}

.chat-container {
    width: 100%;
    max-width: 480px;
    height: 90vh;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
}

.messages {
    flex: 1;
    overflow-y: auto;
    padding: 16px;
    background: #e5ddd5;
    border-bottom: 1px solid #ddd;
    display: flex;
    flex-direction: column;
}

.messages div {
    background: #ffffff;
    padding: 8px 12px;
    border-radius: 12px;
    margin-bottom: 8px;
    max-width: 80%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

.messages .user-message {
    background: #d4edda; /* Светло-зеленый фон для сообщений пользователя */
    align-self: flex-end; /* Выравнивание по правому краю */
    border: 1px solid #b9e1b4; /* Граница цвета сообщений пользователя */
}

.messages .other-message {
    background: #cce5ff; /* Светло-синий фон для сообщений других пользователей */
    align-self: flex-start; /* Выравнивание по левому краю */
    border: 1px solid #a3c2f2; /* Граница цвета сообщений других пользователей */
}

.messages .user-message::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-left: 10px solid #d4edda;
    border-top: 10px solid transparent;
}

.messages .other-message::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border-right: 10px solid #cce5ff;
    border-top: 10px solid transparent;
}

textarea {
    width: 100%;
    max-height: 80px; /* Задаем максимальную высоту для поля ввода */
    height: auto; /* Высота будет определяться содержимым до max-height */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    resize: none; /* Запрещаем изменение размера */
    box-sizing: border-box;
    font-size: 16px;
    overflow-y: auto; /* Добавляем скролл если текст превышает max-height */
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    border-top: 1px solid #ddd;
    background-color: #007bff;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0 0 8px 8px;
}

button:hover {
    background-color: #0056b3;
}

@media (max-width: 600px) {
    .chat-container {
        max-width: 100%;
        height: 100%;
    }

    textarea {
        font-size: 14px;
    }

    button {
        font-size: 14px;
    }
}
